
/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

  /**************************\
  Basic Modal Styles
\**************************/

.micromodal {
  font-family: Poppins, sans-serif;
  z-index: 1000000000000;

  .micromodal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .micromodal__container {
    background-color: #fff;
    max-width: 600px;
    max-height: 100vh;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    //padding: 30px;
    overflow: visible;

    box-shadow: black -3px 3px 20px;
  }

  .micromodal__container {

    width: 85%;

    @media (min-width: 1048px){
      width: 75%;
    }
    max-width: 800px;
  }

  .micromodal__header {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;

    .micromodal__close:before {
      content: "\2715";
    }
  }

  .micromodal__header {
    text-align: center;
    margin-top: 20px;

    .micromodal__title {
      font-size: 6vw;
      font-family: Poppins, sans-serif;
    }

    .micromodal__subtitle {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 4vw;
      font-family: Poppins, sans-serif;
    }

    @media(min-width: 500px) {

      .micromodal__title {
        font-size: 4.3vw;
      }

      .micromodal__subtitle {
        margin: 0;
        font-size: 3vw;
      }
    }

    @media(min-width: 768px){
      .micromodal__title {
        font-size: 3.5vw;
      }

      .micromodal__subtitle {
        margin: 0;
        font-size: 2.4vw;
      }
    }

    @media(min-width: 1250px){
      .micromodal__title {
        font-size: 35px;
      }

      .micromodal__subtitle {
        margin: 0;
        font-size: 28px;
      }
    }
  }

  .micromodal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.70rem;
    line-height: 1.25;
    color: #000;
    box-sizing: border-box;
  }

  .micromodal__close {
    background: transparent;
    border: 0;

    position: absolute;

    font-size: 20px;
    color: white;

    top: -40px;
    right: 0px;
    @media(min-width: 500px) {
      top: -30px;
      right: -30px;
    }
  }

  .micromodal__content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
  }

  .micromodal__footer {
    padding: 30px 40px;
    background: #EEE;

    .referral-link {
      padding: 0 0 0 15px;
      margin: 0 40px 10px 40px;
      height: 60px;
    }
  }

  .micromodal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
  }

  .micromodal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .micromodal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }



  &.micromodal-slide {
    display: none;
  }

  &.micromodal-slide.is-open {
    display: block;
  }

  &.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &.micromodal-slide .modal__container,
  &.micromodal-slide .modal__overlay {
    will-change: transform;
  }

  .copyable-text-component {
    background-color: #fff;
    border: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;

    .text-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .copyable-text {
      font-size: 20px;
      color: #2C2A2A;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -webkit-user-select: all;
      -moz-user-select: all;
      user-select: all;
    }

    .copy-button {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      font-size: 20px;
      border-radius: 0 5px 5px 0;
      padding: 10px 20px;
      max-width: 150px;

      background-color: #060262;
      border-color: #060262 !important;
      color: #FFFFFF;

      touch-action: manipulation;
      -ms-touch-action: manipulation;
      cursor: pointer;
      height: 100%;

      font-family: Poppins, sans-serif;
      font-weight: 400;
    }
  }

  .social-buttons-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    .background-primary {
      background-color: #060262;
    }

    .social-button {
      display: inline-flex;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      vertical-align: middle;
      margin: 0 15px;
      line-height: 0;

      cursor: pointer;

      .icon {
        margin: auto;
        font-size: 24px;
        color: #fff;

      }
    }
  }



  &#modal-referral {
    .micromodal__title {
      font-size: 35px;

      .nuts {
        white-space: nowrap;
      }
    }

    @media(max-width: 500px) {

      .micromodal__title {
        font-size: 4.3vw;
      }

      .micromodal__subtitle {
        margin: 0;
        font-size: 3vw;
      }
    }

    .micromodal__content {
      justify-content: space-around;
      align-items: center;

      font-weight: 500;
      flex-direction: column;

      @media (min-width: 850px){
        flex-direction: row;
        margin: 10px 30px;
      }


      .make-money {
      }

      .you-get {
        font-weight: bold;
      }

      .refer_img{
        flex: 2;

        img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
        }
      }

      .refer_copy {
        flex: 4;

        font-size: 15px;

        @media(min-width: 460px) {
          font-size: 20px;
        }

        @media(min-width: 615px) {
          font-size: 25px;
        }
      }
    }

    .micromodal__footer {
      padding-top: 10px;
      padding-left: 0;
      padding-right: 0;

      @media(min-width: 615px){
        //padding-right:
      }

      p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;

        @media(min-width: 615px) {
          font-size: 22px;
        }
      }

      .social-share {
        .jssocials-shares {
          display: flex;
          justify-content: center;
          align-items: center;

          .jssocials-share {

            margin: 0 15px;


          }

          .jssocials-share-link {
            border-radius: 50%;
            background: #060262;
            height: 65px;
            width: 65px;
            vertical-align: middle;
            line-height: 0;
            cursor: pointer;

            display: inline-flex;

            i {
              margin: auto;
              font-size: 30px;
              color: #fff;
            }
          }
        }
      }

      .link-share {


        max-width: 650px;
        margin: auto;
      }
    }

  }

  &#modal-signup {

    .micromodal__container {

      .header__image {
        background-size: cover;
        background: url("https://ballsy.blue-hat.tech/img/rewards_header_image.png") no-repeat top left;
        width: 100%;
        height: 120px;
        //display: none;

        @media(min-width: 768px){
          display: block;
          height: 140px;
        }
      }
    }

    .micromodal__header {
      text-align: center;
      margin: 20px 10px 0 10px;
      //padding: 10px;

      .hide-on-mobile {
        display: none;

        @media(min-width: 600px){
          display: inline-block;
        }
      }

      .micromodal__title {
        font-size: 6vw;
        font-family: Poppins, sans-serif;
        max-width: 700px;
      }

      .micromodal__subtitle {
        font-family: Poppins, sans-serif;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 4vw;
        font-weight: 500;
        color: black;
        line-height: 1.5;
      }

      @media(min-width: 500px) {

        .micromodal__title {
          font-size: 4.3vw;
        }

        .micromodal__subtitle {
          margin: 0;
          font-size: 3vw;
        }
      }

      @media(min-width: 768px){
        .micromodal__title {
          font-size: 3.5vw;
          line-height: 1.5;
        }

        .micromodal__subtitle {
          margin: 0;
          font-size: 2.4vw;
          line-height: 2.5;
        }
      }

      @media(min-width: 1250px){
        .micromodal__title {
          font-size: 40px;
        }

        .micromodal__subtitle {
          margin: 0;
          font-size: 28px;
        }
      }
    }

    .micromodal__footer {
      display: none;
    }

    .micromodal__content {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding-bottom: 50px;

      p {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;

        font-size: 3vw;

        @media(min-width: 500px) {
          font-size: 2.5vw;
        }

        @media(min-width: 768px) {
          font-size: 2vw;
        }

        @media(min-width: 1250px){
          font-size: 25px;
        }
      }

      form {
        width: 100%;

        .errors {
          margin: 10px 0;
          color: red;
          border: 1px solid red;
          padding: 10px;

          &:empty{
            border: none;
            padding: 0;
            margin: 0;
          }
        }

        @media(min-width: 768px) {
          width: 48vw;
        }

        @media(min-width: 1250px) {
          width: 80%;
        }

        label, legend {
          display: block;
          font-weight: bold;
          font-size: 13px;
        }

        input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"], textarea, select {
          border: 1px solid #e0e0e0;
          padding: 15px 25px 15px 15px;
          outline: none;
          font: 16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #212121;
          margin: 0;
          width: 100%;
          display: block;
          margin-bottom: 20px;
          background: #fff;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 5px;
        }

        .action_button {
          font-size: 20px;
          text-transform: uppercase;
          padding: 12px 26px;
        }
      }

      .btn__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;

        display: inline-block;
        vertical-align: middle;
        fill: currentColor;

        width: 20px;
        height: 20px;
      }

    }
  }

  &#modal-signup-complete {
    .micromodal__container {

      width: 90%;

      @media(min-width: 500px) {

        width: 450px;
      }
    }

    .micromodal__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #212121;

      img {
        width: 180px;
        height: 180px;

        @media(min-width: 500px){
          width: 250px;
          height: 250px;
        }
      }

      p {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 0;

        @media(min-width: 500px) {
          font-size: 34px;
        }
      }
    }

    .micromodal__footer {
      padding: 20px 45px;
      color: #212121;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-weight: 500;
        font-size: 15px;

        @media(min-width: 500px) {
          font-size: 20px;
        }
      }

    }
  }
}