/**************************\
    Demo Animation Style
  \**************************/

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.micromodal {
  font-family: Poppins, sans-serif;
  z-index: 1000000000000;
}

.micromodal .micromodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.micromodal .micromodal__container {
  background-color: #fff;
  max-width: 600px;
  max-height: 100vh;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
  -webkit-box-shadow: black -3px 3px 20px;
          box-shadow: black -3px 3px 20px;
}

.micromodal .micromodal__container {
  width: 85%;
  max-width: 800px;
}

.micromodal .micromodal__container > img {
  display: none;
}

@media (min-width: 500px) {
  .micromodal .micromodal__container > img {
    display: block;
  }
}

@media (min-width: 1048px) {
  .micromodal .micromodal__container {
    width: 75%;
  }
}

.micromodal .micromodal__header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.micromodal .micromodal__header .micromodal__close:before {
  content: "\2715";
}

.micromodal .micromodal__header {
  text-align: center;
  margin-top: 20px;
}

.micromodal .micromodal__header .micromodal__title {
  font-size: 6vw;
}

.micromodal .micromodal__header .micromodal__subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 4vw;
}

@media (min-width: 500px) {
  .micromodal .micromodal__header .micromodal__title {
    font-size: 4.3vw;
  }

  .micromodal .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .micromodal .micromodal__header .micromodal__title {
    font-size: 3.5vw;
  }

  .micromodal .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 2.4vw;
  }
}

@media (min-width: 1250px) {
  .micromodal .micromodal__header .micromodal__title {
    font-size: 35px;
  }

  .micromodal .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 28px;
  }
}

.micromodal .micromodal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.70rem;
  line-height: 1.25;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.micromodal .micromodal__close {
  background: transparent;
  border: 0;
  position: absolute;
  font-size: 20px;
  color: white;
  top: -40px;
  right: 0px;
}

@media (min-width: 500px) {
  .micromodal .micromodal__close {
    top: -30px;
    right: -30px;
  }
}

.micromodal .micromodal__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 40px;
}

.micromodal .micromodal__footer {
  padding: 30px 40px;
  background: #EEE;
}

.micromodal .micromodal__footer .referral-link {
  padding: 0 0 0 15px;
  margin: 0 40px 10px 40px;
  height: 60px;
}

.micromodal .micromodal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.micromodal .micromodal__btn:focus,
.micromodal .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.micromodal .micromodal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.micromodal.micromodal-slide {
  display: none;
}

.micromodal.micromodal-slide.is-open {
  display: block;
}

.micromodal.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal.micromodal-slide .modal__container,
.micromodal.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal .copyable-text-component {
  background-color: #fff;
  border: 1px solid #E3E3E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px;
}

.micromodal .copyable-text-component .text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.micromodal .copyable-text-component .copyable-text {
  font-size: 20px;
  color: #2C2A2A;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
      user-select: all;
}

.micromodal .copyable-text-component .copy-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  max-width: 100px;
  background-color: #060262;
  border-color: #060262 !important;
  color: #FFFFFF;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  height: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.micromodal .social-buttons-container {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.micromodal .social-buttons-container .background-primary {
  background-color: #060262;
}

.micromodal .social-buttons-container .social-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  margin: 0 15px;
  line-height: 0;
  cursor: pointer;
}

.micromodal .social-buttons-container .social-button .icon {
  margin: auto;
  font-size: 24px;
  color: #fff;
}

.micromodal#modal-referral .micromodal__title {
  font-size: 35px;
}

.micromodal#modal-referral .micromodal__title .nuts {
  white-space: nowrap;
}

@media (max-width: 500px) {
  .micromodal#modal-referral .micromodal__title {
    font-size: 4.3vw;
  }

  .micromodal#modal-referral .micromodal__subtitle {
    margin: 0;
    font-size: 3vw;
  }
}

.micromodal#modal-referral .micromodal__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 850px) {
  .micromodal#modal-referral .micromodal__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px 30px;
  }
}

.micromodal#modal-referral .micromodal__content .you-get {
  font-weight: bold;
}

.micromodal#modal-referral .micromodal__content .refer_img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.micromodal#modal-referral .micromodal__content .refer_img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.micromodal#modal-referral .micromodal__content .refer_copy {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 15px;
}

@media (min-width: 460px) {
  .micromodal#modal-referral .micromodal__content .refer_copy {
    font-size: 20px;
  }
}

@media (min-width: 615px) {
  .micromodal#modal-referral .micromodal__content .refer_copy {
    font-size: 25px;
  }
}

.micromodal#modal-referral .micromodal__footer {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.micromodal#modal-referral .micromodal__footer p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (min-width: 615px) {
  .micromodal#modal-referral .micromodal__footer p {
    font-size: 22px;
  }
}

.micromodal#modal-referral .micromodal__footer .social-share .jssocials-shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.micromodal#modal-referral .micromodal__footer .social-share .jssocials-shares .jssocials-share {
  margin: 0 15px;
}

.micromodal#modal-referral .micromodal__footer .social-share .jssocials-shares .jssocials-share-link {
  border-radius: 50%;
  background: #060262;
  height: 65px;
  width: 65px;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.micromodal#modal-referral .micromodal__footer .social-share .jssocials-shares .jssocials-share-link i {
  margin: auto;
  font-size: 30px;
  color: #fff;
}

.micromodal#modal-referral .micromodal__footer .link-share {
  max-width: 650px;
  margin: auto;
}

.micromodal#modal-signup .micromodal__header {
  text-align: center;
  margin-top: 20px;
}

.micromodal#modal-signup .micromodal__header .micromodal__title {
  font-size: 6vw;
}

.micromodal#modal-signup .micromodal__header .micromodal__subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 4vw;
}

@media (min-width: 500px) {
  .micromodal#modal-signup .micromodal__header .micromodal__title {
    font-size: 4.3vw;
  }

  .micromodal#modal-signup .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .micromodal#modal-signup .micromodal__header .micromodal__title {
    font-size: 3.5vw;
  }

  .micromodal#modal-signup .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 2.4vw;
  }
}

@media (min-width: 1250px) {
  .micromodal#modal-signup .micromodal__header .micromodal__title {
    font-size: 40px;
  }

  .micromodal#modal-signup .micromodal__header .micromodal__subtitle {
    margin: 0;
    font-size: 28px;
  }
}

.micromodal#modal-signup .micromodal__footer {
  display: none;
}

.micromodal#modal-signup .micromodal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  padding-bottom: 50px;
}

.micromodal#modal-signup .micromodal__content p {
  text-align: center;
  font-size: 3vw;
}

@media (min-width: 500px) {
  .micromodal#modal-signup .micromodal__content p {
    font-size: 2.5vw;
  }
}

@media (min-width: 768px) {
  .micromodal#modal-signup .micromodal__content p {
    font-size: 2vw;
  }
}

@media (min-width: 1250px) {
  .micromodal#modal-signup .micromodal__content p {
    font-size: 25px;
  }
}

.micromodal#modal-signup .micromodal__content form {
  width: 100%;
}

.micromodal#modal-signup .micromodal__content form .errors {
  margin: 10px 0;
  color: red;
  border: 1px solid red;
  padding: 10px;
}

@media (min-width: 768px) {
  .micromodal#modal-signup .micromodal__content form {
    width: 48vw;
  }
}

@media (min-width: 1250px) {
  .micromodal#modal-signup .micromodal__content form {
    width: 80%;
  }
}

.micromodal#modal-signup .micromodal__content form label,
.micromodal#modal-signup .micromodal__content form legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.micromodal#modal-signup .micromodal__content form input[type="text"],
.micromodal#modal-signup .micromodal__content form input[type="number"],
.micromodal#modal-signup .micromodal__content form input[type="password"],
.micromodal#modal-signup .micromodal__content form input[type="email"],
.micromodal#modal-signup .micromodal__content form input[type="tel"],
.micromodal#modal-signup .micromodal__content form textarea,
.micromodal#modal-signup .micromodal__content form select {
  border: 1px solid #e0e0e0;
  padding: 15px 25px 15px 15px;
  outline: none;
  font: 15px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #51595d;
  margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

.micromodal#modal-signup .micromodal__content form .action_button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 12px 26px;
}

.micromodal#modal-signup .micromodal__content .btn__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

